.product-count{
    position: absolute;
    top: 10px;
    right: -12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    color: #ffffff;
}
.user-box .username-box {
    display: inline-flex;
}

.user-box .username {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 5px;
}

.user-box img {
    width: 25px;
    border-radius: 25px;
    border: 1px solid #4e71f2;
    padding: 2px;
    vertical-align: middle;
}

.header-top-static {
    background-color: #fff;
    height: 50px;
    min-width: 1200px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 91;
}